@import "styles/constants.pcss";

.component {
  border-radius: 3px;
  background: var(--backgroundColor);
  color: var(--inverseColor);
  padding: 16px 28px;
  line-height: 24px;
  border: none;
  cursor: pointer;
  white-space: nowrap;
}

.light {
  background: var(--backgroundLight);
  color: var(--baseColor);
}

.icon {
  margin-right: 12px;
  vertical-align: top;
}
