@import "styles/constants.pcss";

.component {
  font: var(--smallFont);
  color: var(--baseColor);
}

.legal { font: var(--legalFont); }
.large { font: var(--baseFont); }
.italic { font-style: italic; }

.secondary {
  color: var(--secondColor);

  a:not(:hover) { color: var(--secondColor); }
}
