:root {
  --secondColor: #787878;
  --baseColor: #101010;
  --inverseColor: #fff;
  --activeColor: orange;
  --backgroundColor: #e28c6f;
  --backgroundLight: #fff;
  --baseFontFamily: Gill Sans, Arial, sans-serif;
  --baseFontSize: 16px/1.2;
  --smallFontSize: 14px/1.462;
  --legalFontSize: 10px/1.462;
  --baseFont: var(--baseFontSize) var(--baseFontFamily);
  --smallFont: var(--smallFontSize) var(--baseFontFamily);
  --legalFont: var(--legalFontSize) var(--baseFontFamily);
}
