doctype html
html(lang='ru')
  head
    title Garage - Интернет магазин уличной одежды
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    if isProduction
      link(href='/static/bundle.css', rel='stylesheet')
  body
    #react-container
    script(src='/static/bundle.js')
    if error
      h2!= '<span>500</span> The following error occurred during server rendering<br />\n'
      pre!= error
      style.
        h2 span { font-size: 28px; }
        body { color: red; padding: 10px 20px; }
    else
      noindex
        script.

          ReactDOM.render(
            React.createElement(!{Component}, !{model}),
            document.getElementById('react-container')
          )
